.parent{
    width: 800px;
    height: 800px;
    background: red;
    border: 2px solid;
    margin: 0 auto 25px;
    row-gap: 10px;
    column-gap: 10px;
}
.d_flex{
    display: flex;
}
.f-col{
    flex-direction: column;
}

.row{
    flex-direction: row;
}
.j-c-b{
    justify-content: space-between;
}
.p-6{
    padding: 6px;
}
.m-10{
    margin: 10px;
}