header {
    height: 100px;
    background: coral;
    column-gap: 10px;
    flex: 1 0 auto;
    overflow-x:auto ;



}
header div.items{
    width: 250px;
    background: #47c6c6;
    flex-shrink: 0;

}
main {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    background: white;
    max-height: calc(100% - 150px);

}

.left {
    background: coral;
    flex-basis: 250px;
    flex-shrink: 0;
    margin-right: 10px;
    overflow: auto;

}

.right {
    background: coral;
    flex-grow: 1;
}

.left div.items {
    min-height: 180px;
    background: #3b8686;
    margin-bottom: 10px;
}
