
nav{
    height: 50px;
    background: plum;
    column-gap: 10px;


}
nav.menu{
    background: #bd2dbd;
    overflow-x: auto;
    flex: 1 0 auto;
}
nav.menu div{
    width: 250px;
    background: #e56262;
    flex-shrink: 0;
}
div.punkt_menu1, div.punkt_menu3 {
    overflow: auto;

}
div.punkt_menu1 div, div.punkt_menu3 div{
    background: plum;
    height: 150px;
    width: 100%;
    margin-bottom: 10px;
}
div.punkt_menu2, div.punkt_menu4 {
    background: plum;
    width: 100%;
    height: 500px;
}

