.pink{
    width: 200px;
    height: 200px;
    background: hotpink;
    border: 1px solid;
}

.green{
    width: 50px;
    height: 50px;
    background: green;
    border: 1px solid;
    align-self: center;
    margin: 0 auto;

}
.blue{
    width: 100px;
    height: 100px;
    background: blue;
    border: 1px solid;
}
